.svg-container {
  position: absolute;
  top: 0;
  left: 10%;
  width: 90%;
  height: 100%;
}
div.muletto {
  position: absolute;
  width: 3%;
  z-index: 300;
}
.rectange {
  fill: rgb(211, 99, 164);
  stroke: black;
  stroke-width: 2;
}
.rectange-selected {
  fill: blue;
}
.sfondo-mappatura {
  position: absolute;
  left: 10%;
  width: 90%;
  height: 100%;
}
div.billetta {
  position: absolute;
  z-index: 299;
}
